appdirs==1.4.0
Cheetah==2.4.4
dj-database-url==0.4.2
Django==1.10.5
gunicorn==19.6.0
httplib2==0.18.0
jsonpatch==1.3
jsonpointer==1.0
keyring==3.5
oauth==1.0.1
packaging==16.8
psycopg2==2.6.2
pycrypto==2.6.1
pycurl==7.19.3
pyOpenSSL==0.13
pyparsing==2.1.10
pyserial==2.6
PyYAML==3.10
requests==2.2.1
simplejson==3.3.1
six==1.10.0
ssh-import-id==3.21
urllib3==1.7.1
whitenoise==3.3.0
