<html>
    <head>
        <title>Guanqing's blog</title>
    </head>
    <body>
        <div>
            <h1><em>&emsp;Guanqing's Blog</a></em></h1>
        </div>
        <div>
        <h4>
            <p>&emsp; &emsp;Welcome to the website : )</p>
            <p>&emsp; &emsp;This is the playground for me to learn and test things. This project can be found on my <a href="https://github.com/haoguanqing/Tinyurl">Github</a>.
            </p>
        </h4>
        </div>
        <div>
            <p><small> <br />&emsp;&emsp;&emsp; -- published: 02/23/2017, 02:16</small></p>
        </div>
    </body>
</html>
